<div class="navi-a" style="padding: 20px;">
	<a class="hvr-pulse" href="#!/" style="background-color: transparent;">
		<span class="glyphicon glyphicon-home navi icon" aria-hidden="true"></span>
		<span class="navi text">Home</span>
	</a>

	<a href="#!/about" class="hvr-pulse" style="background-color: transparent;">
		<span class="glyphicon glyphicon-user navi icon" aria-hidden="true"></span>
		<span class="navi text">About</span>
		<!-- <span ng-show="btnText == 'About'">{{btnText}}</span> -->
	</a>
	<a href="#!/portfolio" class="hvr-pulse">
		<span class="glyphicon glyphicon-briefcase navi icon" aria-hidden="true"></span>
		<span class="navi text">Portfolio</span>
		<!-- <span ng-show="btnText == 'Portfolio'">{{btnText}}</span> -->
	</a>
	<a href="#!/contact" class="hvr-pulse">
		<span class="glyphicon glyphicon-envelope navi icon" aria-hidden="true"></span>
		<span class="navi text">Contact</span>
		<!-- <span ng-show="btnText == 'Contact'">{{btnText}}</span> -->
	</a>

</div>
