<div class="navi-a pull-right" style="padding: 20px;">
	<!-- <span><img src="pictures/ming.jpg" alt="" style="border-radius: 50%; width: 150px; height:150px;"></span> -->
	<a class="hvr-underline-from-left a-color" href="#!/">
		<span class="glyphicon glyphicon-home navi icon" aria-hidden="true"></span>
		<span class="navi text">Home</span>
	</a>

	<a href="#!/about" class="hvr-underline-from-left a-color">
		<span class="glyphicon glyphicon-user navi icon" aria-hidden="true"></span>
		<span class="navi text">About</span>
		<!-- <span ng-show="btnText == 'About'">{{btnText}}</span> -->
	</a>
	<a href="#!/portfolio" class="hvr-underline-from-left a-color">
		<span class="glyphicon glyphicon-briefcase navi icon" aria-hidden="true"></span>
		<span class="navi text">Portfolio</span>
		<!-- <span ng-show="btnText == 'Portfolio'">{{btnText}}</span> -->
	</a>
	<a href="#!/contact" class="hvr-underline-from-left a-color">
		<span class="glyphicon glyphicon-envelope navi icon"></span>
		<span class="navi text">Contact</span>
		<!-- <span ng-show="btnText == 'Contact'">{{btnText}}</span> -->
	</a>

</div>
