<h2 class="">About Me</h2>
<div class="row">
  <div class="col-xs-12" style="text-align: center; padding-top: 20px;">
    <img src="pictures/ming.jpg" alt="" style="width: 150px; height:200px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-2">

  </div>
  <div class="col-xs-8" style="padding: 20px;">
    <p>Started with computation fluid dynamic simulation class in Carnegie Mellon University, I found mysel fell in love with creating something meaningful and tangible by programming.</p>
    <p>Now I am a versatile programmer currently working at Integrated Financial Engineering Inc. and have done various projects such as:
    <ul>
      <li>Full stack web development with Javascript AngularJS, Ruby on Rails, and Postgre SQL on AWS Opswork.</li>
      <li>Ddata scraping and analysis with Python, Pandas, PhantomJS, and Selenium.</li>
    </ul>
    <p>In addition, I am also fluent in C++ and Matlab thanks to the education I received back in CMU.</p>
  </div>
  <div class="col-xs-2">

  </div>
</div>
