<!-- <h2 class="headline">Contact Me</h2> -->

<div class="centered" style="text-align:center; vertical-align: middle;">
  <div class="" style="display: inline-block;">
    <button type="button" name="button" class="btn contact-btn hvr-bounce-in" ng-click="gmail()" >
      <span class="glyphicon glyphicon-envelope" aria-hidden="true" style="vertical-align: middle; color: white;">
      </button>
    <!-- <a class="btn contact-btn" href="javascript:void(0)" ng-click="gmail()"><span class="glyphicon glyphicon-envelope" aria-hidden="true" alt-tool-tip="Contact"></a> -->
  </div>
  <!-- <div class="col-xs-3">
    <button type="button" name="button" class="btn contact-btn"><span class="glyphicon glyphicon-phone" aria-hidden="true" alt-tool-tip="Contact"></button>
  </div> -->
  <div class='' style="display: inline-block">
    <button type="button" name="button" class="btn contact-btn hvr-bounce-in" ng-click="linkedin()">
      <img src="pictures\linkedin3.png" alt="" width="100px" height ='100px' style="background-color: transparent;">
    </button>
  </div>
</div>
