<!-- <article >
	<h1><a href="#/post/{{ posts.indexOf(post) }}">{{ post.title }}</a></h1>
	<p>{{ post.exerpt }}</p>
	<a href="#/post/{{ posts.indexOf(post) }}">Read more &rarr;</a>
</article> -->

<div class="col-xs-12">
	<div class="centered" style="text-align: center">

		<p>Hi! Thanks for coming to my blog.</p>
		<p>I like cooking, badmintion, and of course CODING!</p>
		<p>You can find works I have done on this website.</p>
		<p>If you want to know more about me, just send me an Email or visit my Linkedin profile page!</p>

	</div>
	<!-- <h5>test</h5> -->
</div>
